.Chat-main
  .group-info
    .group-info__content1
      .group-info__content1__group
        = @group.name
      .group-info__content1__member
        Member :
        - @group.users.each do |user|
          = user.name
    .group-info__content2
      .group-info__content2__edit
        = link_to edit_group_path(@group) do
          Edit
  .message-list
    = render @messages
  .form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .form__contents
        .form__contents__input
          = f.text_field :content, class: 'form__contents__input__text', placeholder: 'type a message'
          = f.label :image, class: 'form__contents__input__img' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Hidden'
        = f.submit 'Send', class: 'form__contents__send__submit'